:root {
  --bg-color: white;
  --bcn-orange: #f16a2d;
  --bcn-orange-light: #f9ae56;
  --bcn-orange-dark: #d96129;
  --black: #333;
  --white: #f5f5f5;
  --text-color: #555;
  --border-color: rgb(238, 238, 238);
  --border-style: 1px solid var(--border-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; /* Reset margins */
  padding: 0; /* Reset paddings */
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.admin {
  --spacing: 1rem;
  display: grid;
  width: 100vw;
  height: 100%;  /* Change from 100vh to 100% */
  min-height: 200vh;  /* Add this to match contentDiv */
  padding: var(--spacing); /* Ensure equal padding on all sides */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
  background-color: var(--bg-color);
}

.admin__main {
  grid-area: main;
}

@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}

.dashboard {
  --column-count: 2;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
  margin: 0; /* Remove negative margin */
  background-color: var(--bg-color);
}

.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}

.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}

.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}

@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}

.gap {
  height: 200px;
  flex-basis: 100%;
  grid-column: 1 / -1;
  background-color: var(--bg-color);
  border: 1px solid black;
}
            
a {
  color: #dc5a60;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  height: 100%;
  font-weight: 300;
  border: 1px solid #e6eaee;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: lightgreen;
}

.card__header {
  padding: 20px 30px;
  border-bottom: 1px solid #e6eaee;
  font-weight: 700;
  background-color: forestgreen;
}

.card__item {
  padding: 20px 30px;
}

svg.viewBox {
  width: 100%;
  height: auto;
}

.spexture {
  width: 100%;
  height: auto;
}

#wrapper-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

#html-content-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  background-color: var(--bg-color);
}